<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <application android:label="Chalk Notes" android:theme="@style/AppTheme" android:icon="@drawable/icon" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <intent-filter><action android:name="android.intent.action.SEND"/><category android:name="android.intent.category.DEFAULT"/><data android:mimeType="image/*"/></intent-filter>
  </activity>
  <receiver android:name=".NoteWidget" android:exported="false">
   <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
   <meta-data android:name="android.appwidget.provider" android:resource="@xml/note_widget"/>
  </receiver>
  <provider android:name=".ImageProvider" android:authorities="dev.chalknotes.images" android:exported="false" android:grantUriPermissions="true"/>
 </application>
</manifest>
